* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d3dec5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #272524;
}

form {
  display: flex;
  height: 2.75rem;
  gap: 0.85rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto 0.5rem;
  padding: 0.5rem 3rem 1rem;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-size: 1.65rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

ul {
  list-style: none;
}

h4 {
  margin: 1rem 0;
  font-size: 0.88rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

footer {
  text-align: center;
  padding-top: 1rem;
  font-size: 0.6rem;
}

/* Combined styling */
.weather-stats-list,
.forecast-list li {
  text-align: center;
}

.weather-app {
  min-width: 40vw;
  background-color: #fff;
  margin: 2rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

.search-input {
  background-color: #d3dec5;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-weight: 300;
}

.submit-btn {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 16px;
  background-color: #799851;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.submit-btn:hover {
  cursor: pointer;
}

.location-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  margin-bottom: 1.13rem;
}

.location-pin {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  color: #e87e8a;
}

.current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temperature {
  font-size: 6.75rem;
  font-weight: 600;
  display: inline;
}

.temperature-unit {
  position: relative;
  top: -54px;
  font-size: 1.75rem;
}

.weather-condition {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 12px;
  left: -35px;
  top: 2px;
}

.weather-condition p {
  font-weight: 300;
}

.weather-condition-icon {
  position: absolute;
  right: -90px;
  top: -40px;
  width: 6rem;
  height: 6rem;
}

.additional-weather-stats {
  margin-top: 2.25rem;
}

.weather-stats-list {
  background-color: #799851;
  border-radius: 50px;
  padding: 0.85rem 2rem;
  gap: 2rem;
  display: flex;
  margin-top: 1.25rem;
}

.weather-stats-figure {
  font-size: 0.88rem;
  color: #60030c;
}

.weather-stats-description {
  color: #fff;
  font-size: 0.6rem;
  line-height: 1.65;
}

.forecast-container {
  margin: 0 1.5rem;
}

.daily-forecast {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.forecast-list {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  justify-content: start;
  box-sizing: content-box;
  padding-bottom: 1.12rem;
  gap: 1rem;
}

.forecast-list li {
  background-color: #d3dec5;
  border-radius: 10px;
  min-width: 4.5rem;
  padding: 0.6rem 0;
}

.weekday {
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.forecast-weather-icon {
  width: 3.75rem;
  height: 3.75rem;
  margin-bottom: 0.25rem;
}

.forecast-temp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0.25rem;
}

.forecast-temp {
  font-size: 0.79rem;
}
